In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("D:\\github\\IS_WEB\\Dataset\\house_prices_with_missing.csv")

In [3]:
df = df.dropna()

In [4]:
df

,SquareFootage,Bedrooms,Bathrooms,YearBuilt,Neighborhood,Quality,Price
0,1344.0,3,2,1968,8,1.0,404258.0
2,4183.0,4,3,1974,3,8.0,827415.0
3,1565.0,5,3,1919,3,10.0,807660.0
4,2171.0,1,3,1971,1,7.0,396089.0
7,1550.0,5,4,1952,8,10.0,869127.0
...,...,...,...,...,...,...,...
422,3443.0,4,4,1955,8,5.0,760223.0
424,4854.0,5,1,1920,7,7.0,157309.0
426,3458.0,3,2,1915,4,7.0,446007.0
429,2244.0,5,3,1902,1,8.0,213614.0
430,2765.0,5,3,1979,9,5.0,301704.0